:root {
    /* Font style */
    --font-square: 'NanumSquare', sans-serif;
    --font-large: 32px;
    /* Colors */
    --red:  #fdd100;
    --grey: #EEEEEE;
    --white: #FFFFFF;
    --grey-dark: rgb(31, 31, 31);
}

.button-container {
    display: flex;
    flex-direction: row; /* 버튼을 가로로 배치합니다. */
    justify-content: center; /* 가로로 중앙 정렬합니다. */
    align-items: center; /* 세로로 중앙에 정렬합니다. */
    height: 80vh;
}

.button-container2 {
    display: flex;
    justify-content: center; /* 가로로 중앙 정렬합니다. */
    align-items: center; /* 세로로 중앙에 정렬합니다. */
}

#member, #non_member {
    color: rgb(31, 31, 31);
    background-color:#fdd100;
    border: none;
    width: 150vw;
    height: 54vh;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: 0;
    font-family: 'NanumSquare', sans-serif;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin: 50px; /* 버튼 사이의 간격 설정 */
}

#signup_btn {
    background-color: #fdd100;
    border: none;
    color: rgb(31, 31, 31);
    width: 250px; /* 고정된 너비 설정 */
    height: 90px; /* 고정된 높이 설정 */
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: 0;
    font-family: 'NanumSquare', sans-serif;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto; /* 가로 중앙 정렬을 위한 설정 */
}


 

/* 모바일버전
-----------------------------------------------------------------------*/
/* Mobile version */
@media (max-width: 800px) {
    #member, #non_member {
        color: rgb(31, 31, 31);
        background-color:#fdd100;
        border: none;
        width: 150vw;
        height: 30vh;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        outline: 0;
        font-family: 'NanumSquare', sans-serif;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: 20px; /* 버튼 사이의 간격 설정 */
    }

}
