body {
    font-family: 'Arial', sans-serif;
    background-color: #ff634700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

#camera {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin-top: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.confirm-button {
    background-color: #fdd100; /* 노란색 */
}

.deny-button {
    background-color: #655300; /* 초록색 */
}

.confirm-button:hover, .deny-button:hover {
    opacity: 0.8;
}

button {
    background-color:  #655300;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color:  #fdd100;
}

#signinbtn {
    background-color: #fdd100; /* 노란색 배경 */
    color: black; /* 흰색 텍스트 */
    padding: 10px 20px; /* 패딩 조정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버시 커서 변경 */
    font-weight: bold; /* 굵은 글씨체 */
    transition: background-color 0.3s ease; /* 부드러운 색상 변화 효과 */
}

#signinbtn:hover {
    background-color: #fdd100; /* 호버 시 배경색 변경 */
}

