<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="/static/setpackage.css">
</head>
<body>
    <div class="button-container">
        <button type="button" id="pack_btn" onclick="setPackaging2(true)">포장하기</button>
        <button type="button" id="eat_btn" onclick="setPackaging2(false)">먹고가기</button>
    </div>
    <script src="/static/setpackage2.js"></script>
</body>
</html>
